.bcls-table {
  border: 1px #cccccc solid;
  border-collapse: collapse;
}

.bcls-caption--table {
  font-size: smaller;
  text-align: right;
  font-style: italic;
}

.bcls-table__head {
  background-color: #cccccc;
}

.bcls-table__head tr th {
  border: 1px #cccccc solid;
  border-collapse: collapse;
}