

#block-block-12 {
    font-size: 0
}

#block-block-12 a + a {
    margin-left: 0.5rem
}

.block-search {
    margin-left: 0.75rem
}

header .google-cse {
    position: relative;
    overflow: hidden
}

header .google-cse input[type='text'] {
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
    padding: 0 0.6rem;
    background: #fff !important;
    position: absolute;
    border-radius: 2px;
    height: 32px;
    right: 33px;
    top: -7px;
    border: 0;
    width: 0;
    font-size: 0.65rem;
    color: #4b4e53
}

header .google-cse .form-submit {
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
    background: transparent url(../images/search.svg) no-repeat center;
    background-size: contain;
    color: transparent;
    height: 18px;
    width: 18px;
    border: 0;
    cursor: pointer;
    opacity:1;
}

header .google-cse .form-submit:hover {
    opacity: 0.8;
}

header .google-cse.active {
    overflow: visible
}

header .google-cse.active input[type='text'] {
    width: 278px
}

header .google-cse.active .form-submit {
    opacity: 1
}




@media (max-width: 1224px) {
    body {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s
    }

 
   
    

   
   

  


    .l-page > * {
        padding-left: 2rem;
        padding-right: 2rem
    }

    .l-page .l-section-breadcrum {
        display: none
    }

    .l-main {
        padding-top: 3rem
    }
}


.page-search-google .content-title {
    margin-left: 0
}

.page-search-google .l-content input[type='text'] {
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
    padding: 0 0.6rem;
    background: #fff !important;
    border-radius: 5px;
    height: 2rem;
    border: 1px solid #dad8d6;
    width: 100%;
    font-size: 1rem;
    color: #4b4e53;
    box-shadow: 0 3px 0 0 #bbbdbf
}

.page-search-google .l-content label[for="edit-keys"] {
    display: none
}

.page-search-google .l-content .form-submit {
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
    transition: all 250ms;
    background: transparent url(../images/search_blue.svg) no-repeat center;
    background-size: contain;
    color: transparent;
    height: 18px;
    opacity: 1;
    width: 18px;
    border: 0;
    float: right;
    position: relative;
    top: -28px;
    right: 14px;
    margin-bottom: -28px
}







