openapi: 3.0.0
x-bc-implicit-head: true
x-bc-implicit-options: true
x-bc-upstream: 'http://backend_server'
info:
  title: Playback Rights API Reference
  description: >-
    Reference for the Brightcove Playback Rights API. This API allows you to create, read, update and delete video playback rights.

     **Base URL**: https://playback-auth.brightcove.com
  version: 1.0.0
  x-bc-access: public
servers:
  - url: 'https://playback-auth.brightcove.com/v1'
    variables: {}
tags:
  - name: Playback Rights
    description: Operations for creating, reading, updating and deleting video playback rights.
paths:
  '/accounts/{accountID}/playback_rights':
    post:
      tags:
        - Playback Rights
      summary: Create new playback rights
      description: 'Create new playback rights'
      operationId: CreateRight
      security:
        - BC_OAuth2:
          - video-cloud/playback-auth/playback-rights/write
      parameters:
        - name: accountID
          in: path
          description: Video Cloud account ID
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Content-Type
          in: header
          description: 'Content-Type: application/json'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Authorization: Bearer access_token (see Getting Access Tokens)'
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: Create playback right metadata
        content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaybackRights'
      responses:
        '201':
          description: 'Playback right created'
          #content:
          #  application/json:
            #  schema:
             #   $ref: '#/components/schemas/PlaybackRightsResponse'
        '400':
          description: >-
            BAD_REQUEST: Invalid request Body
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your policy
            key is correct
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '409':
          description: >-
            STATUS_CONFLICT: Something went wrong while trying to update the file
          content:
            text/plain:
              example: "Invalid country: MIX"
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{accountID}/playback_rights/{playbackRightsID}':
    get:
      tags:
        - Playback Rights
      summary: Get a specific playback right for an account
      description: 'Get a specific playback right for an account'
      operationId: GetPlaybackRight
      security:
        - BC_OAuth2:
          - video-cloud/playback-auth/playback-rights/read
      parameters:
        - name: accountID
          in: path
          description: Video Cloud account ID
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: playbackRightsID
          in: path
          description: playback rights ID
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Content-Type
          in: header
          description: 'Content-Type: application/json'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Authorization: Bearer access_token (see Getting Access Tokens)'
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: 'SUCCESS'
          #content:
            #application/json:
              #schema:
                #$ref: '#/components/schemas/PlaybackRightsResponse'
        '400':
          description: >-
            BAD_REQUEST: Invalid request Body
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your policy
            key is correct
        '404':
          description: >-
            NOT_FOUND: Playback rights ID was not found
        '500':
          description: '500'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status500'
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    put:
      tags:
        - Playback Rights
      summary: Update a specific playback right
      description: |-
        Update a specific playback right for an account
      operationId: UpdateRight
      security:
        - BC_OAuth2:
          - video-cloud/playback-auth/playback-rights/write
      parameters:
        - name: accountID
          in: path
          description: Video Cloud account ID
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: playbackRightsID
          in: path
          description: Playback rights ID
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Content-Type
          in: header
          description: 'Content-Type: application/json'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Authorization: Bearer access_token (see Getting Access Tokens)'
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: 'SUCCESS: The specified playback right has been updated'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaybackRights"
        '204':
          description: >-
            NO_CONTENT: No content for successful update
        '400':
          description: >-
            BAD_REQUEST: Invalid request Body
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your policy
            key is correct
        '404':
          description: >-
            NOT_FOUND: Playback rights ID was not found
        "409":
          description: >-
            STATUS_CONFLICT: Something went wrong while trying to update the file
          content:
            text/plain:
              example: "Invalid country: MIX"
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
        - Playback Rights
      summary: Delete a specific playback right
      description: 'Delete a specific playback right'
      operationId: DeleteRight
      security:
        - BC_OAuth2:
          - video-cloud/playback-auth/playback-rights/write
      parameters:
        - name: accountID
          in: path
          description: Video Cloud account ID
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: playbackRightsID
          in: path
          description: Playback rights ID
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Content-Type
          in: header
          description: 'Content-Type: application/json'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Authorization: Bearer access_token (see Getting Access Tokens)'
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: 'SUCCESS: The specified playback right has been deleted'
        '204':
          description: >-
            NO_CONTENT: No content for successful delete
        '400':
          description: >-
            NOT_AVAILABLE: The resource you are requesting is temporarily unavailable
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your policy
            key is correct
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false

components:
  schemas:
    PlaybackRights:
      title:  Playback Rights
      type: object
      properties:
        allowed_domains:
          type: array
          items:
            type: string
            example: "someDomain.com"
        blocked_domains:
          type: array
          items:
            type: string
            example: "someDomain.com"
        geo:
          type: object
          properties:
            allowed_countries:
              type: array
              items:
                type: string
                example: "MX"
            blocked_countries:
              type: array
              items:
                type: string
                example: "MX"
            allowed_zip_codes:
              type: array
              items:
                type: string
                example: "us-22222"
            blocked_zip_codes:
              type: array
              items:
                type: string
                example: "us-22222"
            allowed_dmas:
              type: array
              items:
                type: integer
                example: 500, 717
            blocked_dmas:
              type: array
              items:
                type: integer
                example: 500, 717
        start_time:
          type: integer
          example: 1571242764
        end_time:
          type: integer
          example: 1571242764
        allowed_ips:
          type: array
          items:
            type: string
            example: "172.16.254.1"
        blocked_ips:
          type: array
          items:
            type: string
            example: "172.16.254.1"
        allowed_days:
          type: array
          items:
            type: string
            example: "mon, tue"
        allowed_hours:
          type: array
          items:
            type: string
            example: "3-4, 8-19"
        require_token:
          type: boolean
          example: false
        midstream_check:
          type: boolean
          example: true
        concurrent_check:
          type: boolean
          example: true
        device_check:
          type: boolean
          example: true
        enabled:
          type: boolean
          example: true
        external_id:
          type: string
          example: "4592fcf5-5d66-48f6-a250-514f29d50bc4"
      example: {
          "account_id": "account1",
          "id" : "5068abcde-f710-4e36-be95-1234567890",
          "version": 0,
          "created_at": "2018-08-07T20:49:39.12750454Z",
          "updated_at": "2018-08-07T20:49:39.12750454Z",
          "behaviors":  [
            {
              "name" : "MaxBitrate5000foriPhone",
              "conditions": {
     	          "device_group": ["iphone"]
              },
              "delivery_rule": ["max-bitrate-5000"]
            },
            {
              "name": "iphone8X-codecs",
              "conditions": {
                "device_group": ["iphone8","iphoneX"]
              },
              "delivery_rule": ["hevc-avc"]
            }]
          }
    Status500:
      title:  Status Response 500
      type: object
      description: The status returned from the Playback Rights API
      properties:
        state:
          type: string
          description: The status returned from the Playback Rights API.
      example: {
          "status": "failed",
          "message": "Internal Server Error"
          }
  securitySchemes:
    BC_OAuth2:
      type: oauth2
      description: >-
        Brightcove OAuth API. See the [support documentation](https://support.brightcove.com/oauth-api) or [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token) to learn more
      flows:
        clientCredentials:
          tokenUrl: 'https://oauth.brightcove.com/v4/access_token'
          scopes:
            video-cloud/playback-auth/playback-rights/read: Read Playback Auth
            video-cloud/playback-auth/playback-rights/write: Write Playback Auth
