openapi: 3.0.0
x-bc-implicit-head: true
x-bc-implicit-options: true
x-bc-upstream: 'http://backend_server'
info:
  title: Playback Rights API Reference
  description: >-
    Reference for the Brightcove Playback Rights API. This API allows you to create, read, update and delete video Playback Rights.

     **Base URL**: https://playback-rights.api.brightcove.com/v1
  version: 1.0.0
  x-bc-access: public
servers:
  - url: 'https://playback-rights.api.brightcove.com/v1'
    variables: {}
tags:
  - name: Playback Rights
    description: Operations for creating, reading, updating and deleting video Playback Rights.
paths:
  '/accounts/{account_id}/playback_rights':
    post:
      tags:
        - Playback Rights
      summary: Create a new Playback Right
      description: 'Create a new Playback Right'
      operationId: CreateRight
      security:
        - BC_OAuth2:
          - video-cloud/playback-auth/playback-rights/write
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - name: Content-Type
          in: header
          description: 'Content-Type: application/json'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Authorization: Bearer access_token (see Getting Access Tokens)'
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: Create Playback Right metadata
        content:
            application/json:
              schema:
                $ref: '#/components/schemas/playback_rights'
      responses:
        '201':
          description: 'Playback right created'
          headers:
            Location:
              description: Values include account id and playback rights id
              schema:
                type: string
                example: "/v1/accounts/12345679001/playback_rights/111111b0-22a2-3b33-4ce4-555a55ef555d"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/playback_rights'
        '400':
          description: Bad Request
          content:
            application/json:
              example:
                [
                  {
                    "error_code": "BAD_REQUEST",
                    "error_subcode": "INVALID_ACCOUNT_ID",
                    "message": "Invalid characters in account_id",
                  },
                ]
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '422':
          description: Unprocessable entity
          content:
            application/json:
              example:
                [
                  {
                    "error_code": "UNPROCESSABLE_ENTITY",
                    "error_subcode": "INVALID_IP",
                    "message": "Invalid ip: 0.0.0.0/40",
                  },
                ]
        '500':
          description: Internal Server Error
          content:
            application/json:
              example:
                [
                  {
                    "error_code": "SERVER_ERROR",
                    "error_subcode": "SERVER_ERROR",
                  },
                ]
        '502':
          description: Bad Gateway
          content:
            application/json:
              example:
                [
                  {
                    "error_code": "SERVER_ERROR",
                    "error_subcode": "PLAYBACK_RIGHT_STORE_FAILURE",
                    "message": "Cannot store playback right",
                  },
                ]
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    get:
      tags:
        - Playback Rights
      summary: Get all Playback Rights for an account
      description: 'Get all Playback Rights for an account'
      operationId: GetAllPlaybackRights
      security:
        - BC_OAuth2:
          - video-cloud/playback-auth/playback-rights/read
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - name: Content-Type
          in: header
          description: 'Content-Type: application/json'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Authorization: Bearer access_token (see Getting Access Tokens)'
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: 'SUCCESS'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/playback_rights'
        '400':
          description: >-
            BAD_REQUEST: Invalid request Body
        '404':
          description: Playback rights not found
          content:
            application/json:
              example:
                [
                  {
                    "error_code": "NOT_FOUND",
                    "error_subcode": "RESOURCE_NOT_FOUND",
                    "message": "Playback rights not found",
                  },
                ]
        '502':
          description: Bad Gateway
          content:
            application/json:
              example:
                [
                  {
                    "error_code": "SERVER_ERROR",
                    "error_subcode": "PLAYBACK_RIGHT_RETRIEVE_FAILURE",
                    "message": "Cannot retrieve playback rights for account {account_id}",
                  },
                ]
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/playback_rights/{playback_rights_id}':
    get:
      tags:
        - Playback Rights
      summary: Get a specific Playback Right for an account
      description: 'Get a specific Playback Right for an account'
      operationId: GetPlaybackRight
      security:
        - BC_OAuth2:
          - video-cloud/playback-auth/playback-rights/read
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/PlaybackRightID'
        - name: Content-Type
          in: header
          description: 'Content-Type: application/json'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Authorization: Bearer access_token (see Getting Access Tokens)'
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: 'SUCCESS'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/playback_rights'
        '400':
          description: >-
            BAD_REQUEST: Invalid request Body
        '404':
          description: >-
            NOT_FOUND: Playback Right ID was not found
            content:
            application/json:
              example:
                [
                  {
                    "error_code": "NOT_FOUND",
                    "error_subcode": "RESOURCE_NOT_FOUND",
                    "message": "Playback right not found",
                  },
                ]
        '502':
          description: Bad Gateway
          content:
            application/json:
              example:
                [
                  {
                    "error_code": "SERVER_ERROR",
                    "error_subcode": "PLAYBACK_RIGHT_RETRIEVE_FAILURE",
                    "message": "Cannot retrieve playback right {playback_rights_id}",
                  },
                ]
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    put:
      tags:
        - Playback Rights
      summary: Update a specific Playback Right
      description: |-
        Update a specific Playback Right for an account
      operationId: UpdateRight
      security:
        - BC_OAuth2:
          - video-cloud/playback-auth/playback-rights/write
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/PlaybackRightID'
        - name: Content-Type
          in: header
          description: 'Content-Type: application/json'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Authorization: Bearer access_token (see Getting Access Tokens)'
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: Create Playback Right metadata
        content:
            application/json:
              schema:
                $ref: '#/components/schemas/playback_rights'
      responses:
        '200':
          description: 'SUCCESS: The specified playback right has been updated'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/playback_rights"
        '204':
          description: >-
            NO_CONTENT: No content for successful update
        '400':
          description: Bad Request
          content:
            application/json:
              example:
                [
                  {
                    "error_code": "BAD_REQUEST",
                    "error_subcode": "INVALID_ACCOUNT_ID",
                    "message": "Invalid characters in account_id",
                  },
                ]
        '404':
          description: >-
            NOT_FOUND: Playback rights ID was not found
        '422':
          description: Unprocessable entity
          content:
            application/json:
              example:
                [
                  {
                    "error_code": "UNPROCESSABLE_ENTITY",
                    "error_subcode": "INVALID_IP",
                    "message": "Invalid ip: 0.0.0.0/40",
                  },
                ]

        "409":
          description: >-
            STATUS_CONFLICT: Something went wrong while trying to update the file
          content:
            text/plain:
              example: "Invalid country: MIX"
        '500':
          description: Internal Server Error
          content:
            application/json:
              example:
                [
                  {
                    "error_code": "SERVER_ERROR",
                    "error_subcode": "SERVER_ERROR",
                  },
                ]
        '502':
          description: Bad Gateway
          content:
            application/json:
              example:
                [
                  {
                    "error_code": "SERVER_ERROR",
                    "error_subcode": "PLAYBACK_RIGHT_STORE_FAILURE",
                    "message": "Cannot store playback right",
                  },
                ]
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
        - Playback Rights
      summary: Delete a specific Playback Right
      description: 'Delete a specific Playback Right'
      operationId: DeleteRight
      security:
        - BC_OAuth2:
          - video-cloud/playback-auth/playback-rights/write
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/PlaybackRightID'
        - name: Content-Type
          in: header
          description: 'Content-Type: application/json'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Authorization: Bearer access_token (see Getting Access Tokens)'
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: 'SUCCESS: The specified playback right has been deleted'
        '204':
          description: >-
            NO_CONTENT: No content for successful delete
        '400':
          description: >-
            NOT_AVAILABLE: The resource you are requesting is temporarily unavailable
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/users/{user_id}/devices':
    get:
      tags:
        - Playback Rights
      summary: Get all user devices
      description: 'Get all user devices'
      operationId: GetDevices
      security:
        - BC_OAuth2:
          - video-cloud/playback-auth/devices/read
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/UserID'
        - name: Content-Type
          in: header
          description: 'Content-Type: application/json'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Authorization: Bearer access_token (see Getting Access Tokens)'
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: Get all devices
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/devices"
        '400':
          description: Bad Request
          content:
            application/json:
              example:
                [
                  {
                    "error_code": "BAD_REQUEST",
                    "error_subcode": "INVALID_ACCOUNT_ID",
                    "message": "Invalid characters in {account_id}",
                  },
                ]
        '404':
          description: Devices were not found
          content:
            application/json:
              example:
                [
                  {
                    "error_code": "NOT_FOUND",
                    "error_subcode": "RESOURCE_NOT_FOUND",
                    "message": "Devices not found",
                  },
                ]
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
        '502':
          description: Bad Gateway
          content:
            application/json:
              example:
                [
                  {
                    "error_code": "SERVER_ERROR",
                    "error_subcode": "DEVICES_RETRIEVE_FAILURE",
                    "message": "Cannot retrieve devices",
                  },
                ]
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
        - Playback Rights
      summary: Delete all user devices
      description: 'Delete all user devices'
      operationId: DeleteDevices
      security:
        - BC_OAuth2:
          - video-cloud/playback-auth/devices/write
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/UserID'
        - name: Content-Type
          in: header
          description: 'Content-Type: application/json'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Authorization: Bearer access_token (see Getting Access Tokens)'
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '204':
          description: All devices deleted
        '400':
          description: Bad Request
          content:
            application/json:
              example:
                [
                  {
                    "error_code": "BAD_REQUEST",
                    "error_subcode": "INVALID_ACCOUNT_ID",
                    "message": "Invalid characters in {account_id}",
                  },
                ]
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
        '502':
          description: Bad Gateway
          content:
            application/json:
              example:
                [
                  {
                    "error_code": "SERVER_ERROR",
                    "error_subcode": "DEVICES_DELETE_FAILURE",
                    "message": "Cannot delete devices",
                  },
                ]
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/users/{user_id}/devices/{device_id}':
    delete:
      tags:
        - Playback Rights
      summary: Delete a soecific user device
      description: 'Delete a soecific user device'
      operationId: DeleteADevice
      security:
        - BC_OAuth2:
          - video-cloud/playback-auth/devices/write
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/UserID'
        - $ref: '#/components/parameters/DeviceID'
        - name: Content-Type
          in: header
          description: 'Content-Type: application/json'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Authorization: Bearer access_token (see Getting Access Tokens)'
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '204':
          description: Device deleted
        '400':
          description: Bad Request
          content:
            application/json:
              example:
                [
                  {
                    "error_code": "BAD_REQUEST",
                    "error_subcode": "INVALID_ACCOUNT_ID",
                    "message": "Invalid characters in {account_id}",
                  },
                ]
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
        '502':
          description: Bad Gateway
          content:
            application/json:
              example:
                [
                  {
                    "error_code": "SERVER_ERROR",
                    "error_subcode": "DEVICE_DELETE_FAILURE",
                    "message": "Cannot delete device",
                  },
                ]
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false

components:
  parameters:
    AccountId:
      name: account_id
      in: path
      description: Video Cloud account id
      required: true
      style: simple
      explode: false
      schema:
        type: string
    PlaybackRightID:
      name: playback_rights_id
      in: path
      description: The playback right id
      required: true
      style: simple
      schema:
        type: string
    UserID:
      name: user_id
      in: path
      description: user unique id
      required: true
      style: simple
      schema:
        type: string
    DeviceID:
      name: device_id
      in: path
      description: end user device unique id
      required: true
      style: simple
      schema:
        type: string
  schemas:
    devices:
      type: array
      items:
        type: string
        example: "device_01"
    playback_rights:
      title:  Playback Rights
      type: object
      properties:
        id:
          type: string
          readOnly: true
          example: "dad11111-e2e2-3333-4ff4-5555555555ba"
          description: playback rights id
        allowed_domains:
          type: array
          items:
            type: string
            example: "someDomain.com"
        blocked_domains:
          type: array
          items:
            type: string
            example: "someDomain.com"
        geo:
          type: object
          properties:
            allowed_countries:
              type: array
              items:
                type: string
              example: ["US","MX"]
            blocked_countries:
              type: array
              items:
                type: string
              example: ["JP","CN"]
            allowed_zip_codes:
              type: array
              items:
                type: string
                example: "US-90210"
            blocked_zip_codes:
              type: array
              items:
                type: string
                example: "US-72810"
            allowed_dmas:
              type: array
              items:
                type: integer
                example: 500
            blocked_dmas:
              type: array
              items:
                type: integer
                example: 717
        start_time:
          type: integer
          example: 1572905011
        end_time:
          type: integer
          example: 1672905011
        allowed_ips:
          type: array
          items:
            type: string
            example: "172.16.254.1"
        blocked_ips:
          type: array
          items:
            type: string
            example: "172.16.254.2"
        allowed_days:
          type: array
          items:
            type: string
          example: ["mon", "tue"]
        allowed_hours:
          type: array
          items:
            type: string
          example: ["3-4", "8-19"]
        allow_insecure:
          type: boolean
          example: false
        disabled:
          type: boolean
          example: true
        external_id:
          type: string
          example: "111111-2d22-22f2-a333-44444444bc4"

  examples:
    request_body_example:
      value: {
        "geo": {
        "allowed_countries": [
          "MX",
          "US"
        ],
        "blocked_countries": [
          "JP",
          "CN"
        ],
        "allowed_zip_codes": [
          "US-90210"
        ],
        "blocked_zip_codes": [
          "US-72810"
        ],
        "allowed_dmas": [
          501
        ],
        "blocked_dmas": [
          803
        ]
      },
      "allowed_domains": [
        "www.google.com",
        "www.brightcove.com"
      ],
      "blocked_domains": [
        "www.ooyala.com"
      ],
      "start_time": 1572905011,
      "end_time": 1672905011,
      "allowed_ips": [
        "192.168.1.1"
      ],
      "blocked_ips": [
        "192.168.1.1"
      ],
      "allowed_days": [
        "mon",
        "tue"
      ],
      "allowed_hours": [
        "5-6"
      ],
      "allow_insecure": true,
      "disabled": false,
      "external_id": "888888f-e11e-2e2e-3333-fedd44444a44"
      }
    response_body_example:
      value: {
        "id": "dad11111-e2e2-3333-4ff4-5555555555ba",
        "geo": {
        "allowed_countries": [
          "MX",
          "US"
        ],
        "blocked_countries": [
          "JP",
          "CN"
        ],
        "allowed_zip_codes": [
          "MX-90210"
        ],
        "blocked_zip_codes": [
          "MX-72810"
        ],
        "allowed_dmas": [
          501
        ],
        "blocked_dmas": [
          803
        ]
      },
      "allowed_domains": [
        "www.google.com",
        "www.brightcove.com"
      ],
      "blocked_domains": [
        "www.ooyala.com"
      ],
      "start_time": 1572905011,
      "end_time": 1672905011,
      "allowed_ips": [
        "192.168.1.1"
      ],
      "blocked_ips": [
        "192.168.1.1"
      ],
      "allowed_days": [
        "mon",
        "tue"
      ],
      "allowed_hours": [
        "5-6"
      ],
      "allow_insecure": true,
      "disabled": false,
      "external_id": "888888f-e11e-2e2e-3333-fedd44444a44"
      }

  securitySchemes:
    BC_OAuth2:
      type: oauth2
      description: >-
        Brightcove OAuth API. See the [support documentation](https://support.brightcove.com/oauth-api) or [Getting Access Tokens](https://support.brightcove.com/oauth-api-sample-get-access-token) to learn more
      flows:
        clientCredentials:
          tokenUrl: 'https://oauth.brightcove.com/v4/access_token'
          scopes:
            video-cloud/playback-auth/playback-rights/read: Read Playback Auth
            video-cloud/playback-auth/playback-rights/write: Write Playback Auth
