openapi: 3.0.0
x-bc-implicit-head: true
x-bc-implicit-options: true
x-bc-upstream: 'http://backend_server'
info:
  title: Cross-Device Resume (XDR) API Reference
  description: >-
    Reference for the Brightcove Cross-Device Resume (XDR) API. This API allows you to read all of the playheads for a viewer or read the playhead for a specific viewer and video.

     **Base URL**: https://data.brightcove.com
  version: 1.0.0
  x-bc-access: public
servers:
  - url: 'https://data.brightcove.com/v1/xdr'
    variables: {}
tags:
  - name: XDR
    description: Operations for reading viewer playhead positions.
paths:
  '/accounts/{account_id}/playheads/{viewer_id}':
    get:
      tags:
        - XDR
      summary: Get viewer playheads
      description: 'Get all playhead positions for a specific account and viewer'
      operationId: GetViewerPlayheads
      security:
        - BC_OAuth2:
          - video-cloud/xdr/read
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/ViewerId'
        - in: query
          name: limit
          description: Number of results to return.  1000 is used if no value specified.
          schema:
            type: integer
            maximum: 10000
          required: false
        - name: Content-Type
          in: header
          description: 'Content-Type: application/json'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Authorization: Bearer access_token (see Getting Access Tokens)'
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayheadsResponse'
        '403':
          description: Forbidden
        '500':
          description: Server error
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
        - Devices
      summary: Delete all user devices
      description: 'Delete all user devices'
      operationId: DeleteDevices
      security:
        - BC_OAuth2:
          - video-cloud/playback-auth/devices/write
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/UserID'
        - name: Content-Type
          in: header
          description: 'Content-Type: application/json'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Authorization: Bearer access_token (see Getting Access Tokens)'
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '204':
          description: All devices deleted
        '400':
          description: Bad Request
          content:
            application/json:
              example:
                [
                  {
                    "error_code": "BAD_REQUEST",
                    "error_subcode": "INVALID_ACCOUNT_ID",
                    "message": "Invalid characters in {account_id}",
                  },
                ]
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '502':
          description: Bad Gateway
          content:
            application/json:
              example:
                [
                  {
                    "error_code": "SERVER_ERROR",
                    "error_subcode": "DEVICES_DELETE_FAILURE",
                    "message": "Cannot delete devices",
                  },
                ]
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/users/{user_id}/devices/{device_id}':
    patch:
      tags:
        - Devices
      summary: Update a user device
      description: 'Update a specific user device'
      operationId: UpdateADevice
      security:
        - BC_OAuth2:
          - video-cloud/playback-auth/devices/write
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/UserID'
        - $ref: '#/components/parameters/DeviceID'
        - name: Content-Type
          in: header
          description: 'Content-Type: application/json'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Authorization: Bearer access_token (see Getting Access Tokens)'
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '204':
          description: No content
        '400':
          description: Bad Request
          content:
            application/json:
              example:
                [
                  {
                    "error_code": "BAD_REQUEST",
                    "error_subcode": "ILLEGAL_VALUE",
                    "message": "Illegal value",
                  },
                ]
        '404':
          description: Device Not Found
          content:
            application/json:
              example:
                [
                  {
                    "error_code": "NOT_FOUND",
                    "error_subcode": "RESOURCE_NOT_FOUND",
                    "message": "Device not found",
                  },
                ]
        '502':
          description: Bad Gateway
          content:
            application/json:
              example:
                [
                  {
                    "error_code": "SERVER_ERROR",
                    "error_subcode": "DEVICE_STORE_FAILURE",
                    "message": "Cannot patch device name",
                  },
                ]
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
        - Devices
      summary: Delete a user device
      description: 'Delete a specific user device'
      operationId: DeleteADevice
      security:
        - BC_OAuth2:
          - video-cloud/playback-auth/devices/write
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/UserID'
        - $ref: '#/components/parameters/DeviceID'
        - name: Content-Type
          in: header
          description: 'Content-Type: application/json'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Authorization: Bearer access_token (see Getting Access Tokens)'
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '204':
          description: Device deleted
        '400':
          description: Bad Request
          content:
            application/json:
              example:
                [
                  {
                    "error_code": "BAD_REQUEST",
                    "error_subcode": "INVALID_ACCOUNT_ID",
                    "message": "Invalid characters in {account_id}",
                  },
                ]
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '502':
          description: Bad Gateway
          content:
            application/json:
              example:
                [
                  {
                    "error_code": "SERVER_ERROR",
                    "error_subcode": "DEVICE_DELETE_FAILURE",
                    "message": "Cannot delete device",
                  },
                ]
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false

components:
  parameters:
    AccountId:
      name: account_id
      in: path
      description: Video Cloud account id
      required: true
      style: simple
      explode: false
      schema:
        type: string
    ViewerId:
      name: viewer_id
      in: path
      description: Id of the viewer whose playheads are being retrieved.
      required: true
      schema:
        type: string
    VideoId:
      name: video_id
      in: path
      description: Id of the video(s) whose playheads are being retrieved.
      required: true
      style: simple
      explode: false
      schema:
        type: string
  schemas:
    PlayheadsResponse:
      type: object
      properties:
        account_id:
          type: string
        viewer_id:
          type: string
        size:
          type: integer
        items:
          type: array
          items:
            type: object
            properties:
              video_id:
                type: string
              timestamp:
                type: integer
              playhead_seconds:
                type: integer
    # devices:
    #   type: array
    #   items:
    #     $ref: "#/components/schemas/device"

  # examples:
  #   response_body_example:
  #     value: [
  #       "device_01","device_02"
  #       ]

  securitySchemes:
    BC_OAuth2:
      type: oauth2
      description: >-
        Brightcove OAuth API. To learn more, see the [OAuth Overview](https://apis.support.brightcove.com/oauth/) or the [Getting Access Tokens](https://apis.support.brightcove.com/oauth/code-samples/oauth-api-sample-get-access-token.html) document.
      flows:
        clientCredentials:
          tokenUrl: 'https://oauth.brightcove.com/v4/access_token'
          scopes:
            video-cloud/playback-auth/devices/read: Read Devices
            video-cloud/playback-auth/devices/write: Write Devices
